[submodule "superfluid-example/lib/forge-std"]
	path = superfluid-example/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "superfluid-example/lib/superfluid-protocol-monorepo"]
	path = superfluid-example/lib/superfluid-protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "superfluid-example/lib/openzeppelin-contracts"]
	path = superfluid-example/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
